@page
@model RegisterModel
@{
    ViewData["Title"] = "Inregistreaza-te acum!";
}

<h1>@ViewData["Title"]</h1>
<link href="~/css/login.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" method="post">
            <h2>Fa-ti un cont nou si... Ask Me Now!</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" placeholder="password" />
                <label asp-for="Input.Password">Parola</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="confirm password" />
                <label asp-for="Input.ConfirmPassword">Confirma parola</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Inregistreaza-te</button>
        </form>

        <br /><br />
        <div class="butonlogin">
            <p>Daca ai deja un cont, apasa aici pentru a te loga!</p>
            <button type="button" class="w-100 btn btn-lg btn-secondary" onclick="window.location.href='@Url.Page("/Account/Login")'">Login</button>
        </div>
        <hr />
    </div>

    <div class="col-md-6">
        <section>
            <h3>Ce nu trebuie sa ratezi?</h3>
            <div class="categorii">
            @if (ViewBag.Categorii != null)
            {
                foreach (var categorie in ViewBag.Categorii)
                {
                    <div class="categorie">
                        <h4>@categorie.Denumire</h4>
                        <ul>
                            @foreach (var intrebare in categorie.Intrebari.Take(3))
                            {
                                <li>@intrebare.Continut</li>
                            }
                        </ul>
                        <a href="@Url.Action("Category", "Home", new { id = categorie.CategorieId })">Vezi mai multe intrebari din aceasta categorie</a>
                    </div>
                }
            }
            else
            {
                <p>Nu există categorii disponibile.</p>
            }
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
