@{
    ViewBag.Title = "CATEGORII";
}

<h2>@ViewBag.Title</h2>
<br />

@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

<br />

@foreach (Ask_Me_Now.Models.Categorie categorie in ViewBag.Categorii)
{
    <div class="form-group">
        <label asp-for="@categorie.Denumire" class="form-label">Denumire categorie</label>
        <div><i class="bi bi-globe"></i> @categorie.Denumire</div>
    </div>
    <br />
    <a class="btn alert-success" asp-controller="Categorii" asp-action="Show" asp-route-id="@categorie.CategorieId">Afisare categorie</a>
    <a class="btn alert-success" asp-controller="Categorii" asp-action="Edit" asp-route-id="@categorie.CategorieId">Editare categorie</a>
    <br />
    <br />

}
<br />
<a class="btn btn-success" asp-controller="Categorii" asp-action="New">Adauga o noua categorie</a>
<br />

