@{
    ViewBag.Title = "Iata categoriile de intrebari care te-ar putea ajuta!";
}

<h2>@ViewBag.Title</h2>
<br />

@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}
@if (User.IsInRole("Admin"))
{
    <a class="btn btn-success" asp-controller="Categorii" asp-action="New">Adauga o noua categorie</a>
    <hr />
}
@foreach (Ask_Me_Now.Models.Categorie categorie in ViewBag.Categorii)
{
    <div class="form-group">
        <label asp-for="@categorie.Denumire" class="form-label">Categoria</label>
        <div><i class="bi bi-globe"></i> @categorie.Denumire</div>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <a class="btn alert-success" asp-controller="Categorii" asp-action="Edit" asp-route-id="@categorie.CategorieId">Editare categorie</a>
        <form method="post" asp-controller="Categorii" asp-action="Delete" asp-route-id="@categorie.CategorieId"><button class="btn btn-danger" type="submit">Stergere categorie</button>

        </form>
    }
        <a class="btn alert-success" asp-controller="Categorii" asp-action="Show" asp-route-id="@categorie.CategorieId">Vezi intrebarile din aceasta categorie</a>
    <hr />
    <br />

}

<br />
<br />

