@model Ask_Me_Now.Models.Categorie
@{
    ViewBag.Title = "Categoria";
}


<h2>@ViewBag.Title @Model.Denumire</h2>
<br />

@if (User.IsInRole("Admin"))
{
    <form method="post" asp-controller="Categorii" asp-action="Delete" asp-route-id="@Model.CategorieId">
        <button class="btn btn-danger" type="submit">Stergeti categoria</button>
    </form>
    <form method="post" asp-controller="Categorii" asp-action="Edit" asp-route-id="@Model.CategorieId">
        <button class="btn btn-danger" type="submit">Editati categoria</button>
    </form>
}
<a class="btn alert-success" href="/Categorii/Index/">Catre pagina cu toate categoriile</a>
<hr />
<hr />



@* Motorul de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>


@if (ViewBag.Intrebari != null)
{
    <div class="intrebari">
        @foreach (var intrebare in (IEnumerable<Ask_Me_Now.Models.Intrebare>)ViewBag.Intrebari)
        {
            <div class="intrebare">
                <p>@intrebare.Continut</p>
                <a asp-action="Show" asp-controller="Intrebari" asp-route-id="@intrebare.IntrebareId" class="btn btn-primary">Vezi intrebarea</a>
                <hr />
            </div>
        }
    </div>
}
else
{
    <div>Nu exista intrebari in aceasta categorie.</div>
}
<br />
<hr />
<br />

@* Afisarea paginata a intrebarilor *@

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.CurrentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
