@{
    ViewBag.Title = "Iata intrebarile puse de utilizatori!";
}

<h2>@ViewBag.Title</h2>
<br />
<a class="btn btn-success" asp-controller="Intrebari" asp-action="New">Adauga o noua intrebare</a>
<p>Pentru a pastra confidentialitatea utilizatorilor nostri, autorul intrebarii nu este afisat!</p>
<p>Pastram confidentialitatea dumneavoastra pentru a va simti in siguranta in aceasta aplicatie si pentru a va simti liberi sa va hraniti curiozitatile!</p>
<hr />

@if (TempData.ContainsKey("message"))
{
    <h1>@TempData["message"]</h1>
}
<br />



@* Motorul de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>


<div class="d-flex justify-content-end mb-3">
    <label class="me-2">Sortează după:</label>
    <div class="btn-group">
        @{
            var sortByDate = Url.Action("Index", "Intrebari", new { sortOrder = "date" });
            var sortByPopularity = Url.Action("Index", "Intrebari", new { sortOrder = "popularity" });

            var isDateActive = ViewBag.SortOrder == "date" ? "active" : "";
            var isPopularityActive = ViewBag.SortOrder == "popularity" ? "active" : "";
        }
        <a href="@sortByDate" class="btn btn-outline-primary @isDateActive">După dată</a>
        <a href="@sortByPopularity" class="btn btn-outline-primary @isPopularityActive">După popularitate</a>
    </div>
</div>




@foreach (Ask_Me_Now.Models.Intrebare intrebare in ViewBag.Intrebari)
{
    <div class="form-group">
        <label asp-for="@intrebare.Continut" class="form-label">Intrebarea</label>
        <div><i class="bi bi-globe"></i> @intrebare.Continut</div>
    <a class="btn alert-success" asp-controller="Intrebari" asp-action="Show" asp-route-id="@intrebare.IntrebareId">Afisare intrebare</a>
        <br />
    </div>
        <br />
    
}


@* Afisarea paginata a intrebarilor *@

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl@(ViewBag.CurrentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link" href="@ViewBag.PaginationBaseUrl@i">@(i)</a>
                </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


