@{
    ViewBag.Title = "Iata intrebarile puse de utilizatori!";
}

<h2>@ViewBag.Title</h2>
<br />
<a class="btn btn-success" asp-controller="Intrebari" asp-action="New">Adauga o noua intrebare</a>
<hr />

@if (TempData.ContainsKey("message"))
{
    <h1>@TempData["message"]</h1>
}
<br />

@foreach (Ask_Me_Now.Models.Intrebare intrebare in ViewBag.Intrebari)
{
    <div class="form-group">
        <label asp-for="@intrebare.Continut" class="form-label">Intrebarea</label>
        <div><i class="bi bi-globe"></i> @intrebare.Continut</div>
    <a class="btn alert-success" asp-controller="Intrebari" asp-action="Show" asp-route-id="@intrebare.IntrebareId">Afisare intrebare</a>
        <br />
    </div>
        <br />
    
}

