@{
    ViewBag.Title = "INTREBARI";
}

<h2>@ViewBag.Title</h2>
<br />

@if (TempData.ContainsKey("message"))
{
    <h1>@TempData["message"]</h1>
}
<br />

@foreach (Ask_Me_Now.Models.Intrebare intrebare in ViewBag.Intrebari)
{
    <div class="form-group">
        <label asp-for="@intrebare.Continut" class="form-label">Continut intrebare</label>
        <div><i class="bi bi-globe"></i> @intrebare.Continut</div>
    </div>
    <br />
    <a class="btn alert-success" asp-controller="Intrebari" asp-action="Show" asp-route-id="@intrebare.IntrebareId">Afisare intrebare</a>
    <a class="btn alert-success" asp-controller="Intrebari" asp-action="Edit" asp-route-id="@intrebare.IntrebareId">Editare intrebare</a>
    <br />
    <br />
}

<br />
<a class="btn btn-success" asp-controller="Intrebari" asp-action="New">Adauga o noua intrebare</a>
<br />
