@model Ask_Me_Now.Models.Utilizator

<form asp-controller="Utilizatori" asp-action="Edit" method="post" asp-route-id="@Model.Id" enctype="multipart/form-data">

    <i class="bi bi-person"></i>
    <p>Identificare utilizator: @Model.UserName</p>
    <br />

    <i class="bi bi-person"></i>
    <label asp-for="Nume">Nume utilizator</label>
    <br />
    <input asp-for="Nume" class="form-control" />
    <br />

    <i class="bi bi-person"></i>
    <label asp-for="Prenume">Prenume utilizator</label>
    <br />
    <input asp-for="Prenume" class="form-control" />
    <br />

    <i class="bi bi-chat-left-quote-fill"></i>
    <label asp-for="Descriere">Descriere utilizator</label>
    <br />
    <input asp-for="Descriere" class="form-control" />
    <br />

    <i class="bi bi-envelope"></i>
    <label asp-for="Email">Email utilizator</label>
    <br />
    <input asp-for="Email" class="form-control" />
    <br />

    <i class="bi bi-phone"></i>
    <label asp-for="PhoneNumber">Numar telefon</label>
    <br />
    <input asp-for="PhoneNumber" class="form-control" />
    <br />
    
    <label asp-for="PozaProfil">Poza de profil</label>
    <br />
    <input type="file" asp-for="PozaProfil" class="form-control" />
    <br />

    @if(User.IsInRole("Admin"))
    {
        <i class="bi bi-card-list"></i>
        <label>Modificati rolul</label>
        <br />

        <select name="newRole" class="form-control">
            <option selected>Selectati rolul</option>

            @foreach (var role in ViewBag.AllRoles)
            {
                @if (ViewBag.UserRole == role.Value)
                {
                    <option selected="selected" value="@role.Value">@role.Text</option>
                }
                else
                {
                    <option value="@role.Value">@role.Text</option>
                }
            }
        </select>
    }

    <button type="submit" class="btn btn-sm btn-success">Editare utilizator</button>

</form>




