@{
    ViewBag.Title = "PROFILURI";
}

<h2>@ViewBag.Title</h2>
<br />

@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

<br />

@foreach (Ask_Me_Now.Models.Profil profil in ViewBag.Profiluri)
{
    <div class="form-group">
        <label asp-for="@profil.Nume" class="form-label">Numele de utilizator al profilului</label>
        <div><i class="bi bi-globe"></i> @profil.Nume</div>
    </div>
    <br />
    <a class="btn alert-success" asp-controller="Profiluri" asp-action="Show" asp-route-id="@profil.ProfilId">Afisare profil</a>
    <br />
    <br />

}
<br />
<a class="btn btn-success" asp-controller="Categorii" asp-action="New">Adauga o noua categorie</a>
<br />

